<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
<h1>Airline application</h1>
<table border="1">
    <th>Number</th>
    <th>From</th>
    <th>To</th>
    <th>Arrival Time</th>
    <th>Departure Time</th>
    <th>seatType</th>
    <th>Available Seats</th>
    <th>Passengers</th>
    <th>Departure Date</th>
    <th>Fair Price</th>
    <tr th:each="flight:${flights}" onclick="booking(this)">
        <td th:text="${flight.getFlight().getNumber()}"></td>
        <td th:text="${flight.getFlight().getSource()}"></td>
       <td th:text="${flight.getFlight().getDestination()}"></td>
        <td th:text="${flight.getFlight().getArrivalTime()}"></td>
        <td th:text="${flight.getFlight().getDepartureTime()}"></td>
        <td th:text="${seatType}"></td>
        <td th:text="${flight.getSeats().getTotalSeats({seatType})}"></td>
        <td th:text="${passengers}"></td>
        <td th:text="${departureDate}"></td>
        <td th:text="${passengers*flight.getFarePrice().getTotalFarePrice({seatType},{departureDate})}"></td>

        <td scope="row"><a th:href="@{/book(number=${flight.getFlight().getNumber()},seatType=${seatType},numberOfPassengers=${passengers})}" th:text="BookTicket" class="btn btn-primary" ></a></td>
    </tr>
</table>
</body>
<script>
    function booking(){

    row.querySelector("a").click();
    }
</script>
</html>